<div class="row m-1">
	<mat-card class="col-md-12">
		<div class="row">
			<div class="col-md-12">
			<mat-toolbar style="background-color: #ffffff; margin-bottom: 4px;">
				<h4>Updates</h4>
        <span style="flex: 1 1 auto;"></span>
				<mat-chip-list *ngIf="isAdmin">
				  <mat-chip (click)="openForm()" style="background-color: lightblue;">
				  	<mat-icon>add</mat-icon> New Update
				  </mat-chip>
				</mat-chip-list>
			</mat-toolbar>
			</div>
		</div>
	</mat-card>
		
	<mat-card *ngIf="visible" [@slideInOut]>
	  <div [formGroup]='nameForm' class="row">
	    <mat-form-field  class="col-md-12">
	      <input
	        matInput 
	        formControlName='name'
	        #searchBoxName
	        [matAutocomplete]="autoname"
	        (keyup)="searchName(searchBoxName.value)"
	        placeholder="Update's name" 
	        name="name">
	    </mat-form-field>
	    <mat-autocomplete #autoname="matAutocomplete">
	      <mat-option
	        *ngFor="let name of result_name"
	        [value]="name.name">
	        {{name?.name}} &nbsp;
	      </mat-option>
	    </mat-autocomplete>
	  </div>	
		<form #regForm="ngForm" class="row">
	    <mat-form-field class="col-md-4">
				<mat-select 
					placeholder="Channel received" 
	        required 
	        [(ngModel)]="new_ecs.channel_received" 
	        name="channel_received">
			  	<mat-option value="Email">Email</mat-option>
			  	<mat-option value="Chat(WhatsApp)">Chat(WhatsApp)</mat-option>
			  	<mat-option value="Skype">Skype</mat-option>
	        <mat-option value="Text Message">Text Message</mat-option>
	        <mat-option value="Verbal">Verbal</mat-option>
			  	<mat-option value="Phone Call">Phone Call</mat-option>
				</mat-select>
			</mat-form-field>
	    <mat-form-field class="col-md-4">
	      <input 
	        matInput
	        required 
	        [matDatepicker]="picker1" 
	        placeholder="Date received" 
	        [(ngModel)]="new_ecs.date_received" 
	        name="date_received">
	        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
	      <mat-datepicker #picker1></mat-datepicker>
	    </mat-form-field>
	    <div class="col-md-4">
	      <label>Time received</label>
	      <input
	      	type="time"
	        required 
	        [(ngModel)]="new_ecs.time_received" 
	        name="time_received">
	    </div>
			<mat-form-field  class="col-md-6">
				<input
					matInput 
	        required
					placeholder="From Name" 
					[(ngModel)]="new_ecs.from_name" 
					name="from_name">
			</mat-form-field>
			<mat-form-field  class="col-md-6">
					<!-- required -->
				<input
					matInput 
					placeholder="From Email" 
					[(ngModel)]="new_ecs.from_email" 
					name="from_email">
			</mat-form-field>
			<mat-form-field  class="col-md-12">
				<textarea
					required
					matInput 
					placeholder="Contents" 
					[(ngModel)]="new_ecs.contents"
					matTextareaAutosize
					matAutosizeMinRows="5"
					matAutosizeMaxRows="8"
					name="contents"></textarea>
			</mat-form-field>
			
			<div 
				ng2FileDrop
				[ngClass]="{'drop-file-over': hasBaseDropZoneOver}"
				(fileOver)="fileOverBase($event)"
				[uploader]="uploader"
				class="area">
				<div id="dropZone">Drop files here</div>
			</div>
			<input type="file" ng2FileSelect [uploader]="uploader" multiple/>
			
			<mat-card class="col-md-12" style="background-color: #ececec; margin: 1em 0;">
				<span *ngIf="uploader?.queue?.length != 0">Your files: {{ uploader?.queue?.length }}</span>
				<mat-list *ngFor="let item of uploader.queue">
				 <mat-list-item>
				 	{{ item?.file?.name }}
				 	<span style="flex: 1 1 auto;"></span>
				 	<mat-icon (click)="removeFile(item);" style="color: #ef6774; cursor: pointer; float: right;">cancel</mat-icon>
				 </mat-list-item>
				</mat-list>
			</mat-card>

	    <!-- <mat-form-field class="col-md-6">
				<mat-select 
					placeholder="Channel communicated" 
	        required 
	        [(ngModel)]="new_ecs.channel_communicated" 
	        name="channel_communicated">
			  	<mat-option value="Pre-Shift">Pre-Shift</mat-option>
			  	<mat-option value="Post-Shift">Post-Shift</mat-option>
			  	<mat-option value="Email">Email</mat-option>
			  	<mat-option value="Skype">Skype</mat-option>
			  	<mat-option value="Floor Walk">Floor Walk</mat-option>
				</mat-select>
			</mat-form-field>
	    <div class="col-md-6">
	      <label>Time cascade</label>
	      <input
	      	type="time"
	        required 
	        [(ngModel)]="new_ecs.time_cascaded" 
	        name="time_cascaded">
	    </div> -->
		</form>
		<div class="row">
		  <div class="col-md-12">
		    <div class="d-flex justify-content-center">
		    	<button
		    		[disabled]="regForm.invalid || isSaving"
		    		mat-raised-button 
		    		(click)="createEscalation()"
		    		style="background-color: lightblue;">
		    		Save
		    		<i *ngIf="isSaving" class="fa fa-spinner fa-spin"></i>
		    	</button>
		    	&nbsp;
		    	<button mat-raised-button (click)="closeForm()"> Cancel </button>
		    </div>
		  </div>
		</div>
	</mat-card>

	<mat-card class="col-md-12 mt-2">
  	<form #dateForm="ngForm" class="row">
      <mat-form-field class="col-md-4">
        <input 
          matInput
          required 
          [matDatepicker]="picker1" 
          placeholder="Date from" 
          [(ngModel)]="esc_report.datefrom" 
          name="datefrom">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <input 
          matInput
          required 
          [matDatepicker]="picker2" 
          placeholder="Date to" 
          [(ngModel)]="esc_report.dateto" 
          name="dateto">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br>
      <div class="col-md-4">
        <button
          [disabled]="dateForm.invalid" 
          mat-raised-button 
          (click)="fetchEscalations()"
          style="background-color: #94d8ff;">
          Filter
          <i *ngIf="loading_filter" class="fa fa-spinner fa-spin"></i>
        </button>
        &nbsp;
        <button
					*ngIf="isAdmin"          
          [disabled]="dateForm.invalid" 
          mat-raised-button 
          (click)="downloadEscalations()"
          style="background-color: #94d8ff;">
          <mat-icon>save_alt</mat-icon> Download
          <i *ngIf="loading_download" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
		</form>
		<mat-form-field style="font-size: 14px; width: 100%;">
		  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
		<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
		  <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
		    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
		    <td mat-cell *matCellDef="let element"> 
          <span *ngIf="column == 'name'" class="dot"></span>
		    	<span>{{element[column]}}</span>
		    	</td>
		  </ng-container> -->
		  <ng-container matColumnDef="name">
		    <th mat-header-cell *matHeaderCellDef> Update's Name </th>
		    <td mat-cell *matCellDef="let element"><span *ngIf="element.id == currentItem"><b>Update's Name: </b></span> {{element.name}} </td>
		  </ng-container>
		  <ng-container matColumnDef="from_name">
		    <th mat-header-cell *matHeaderCellDef> From </th>
		    <td mat-cell *matCellDef="let element"><span *ngIf="element.id == currentItem"><b>From: </b></span> {{element.from_name}} </td>
		  </ng-container>
		  <ng-container matColumnDef="channel_received">
		    <th mat-header-cell *matHeaderCellDef> Channel Received </th>
		    <td mat-cell *matCellDef="let element"><span *ngIf="element.id == currentItem"><b>Channel Received: </b></span> {{element.channel_received}} </td>
		  </ng-container>
		  <ng-container matColumnDef="date">
		    <th mat-header-cell *matHeaderCellDef> # </th>
		    <!-- <td mat-cell *matCellDef="let element">{{element.created_at | date : 'y-MM-dd h:mm a'}}</td> -->
		    <td mat-cell *matCellDef="let element">{{element.created_at | timeAgo}}</td>
		  </ng-container>
		  <ng-container matColumnDef="state">
		    <th mat-header-cell *matHeaderCellDef> </th>
		    <td mat-cell *matCellDef="let element">
		    	<span *ngIf="!element.viewed" class="green-dot"></span>
		    </td>
		  </ng-container>
		  <ng-container matColumnDef="expandedDetail">
		    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" [class.highlighted]="element.id === currentItem">
		      <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
		        <div class="description row">
			        <div class="col-md-12">
			        	<div class="row">
				          <span class="col-md-4" *ngIf="element.from_email != 'undefined'"><b>From: </b>{{element.from_email}} <br></span>
				          <span class="col-md-4"><b>Received: </b>{{element.date_received | date : 'y-MM-dd'}} <b>at</b> {{element.time_received}}</span>
				          <span style="flex: 1 1 auto;"></span>
									<mat-chip-list style="cursor: pointer; float: right;">
									  <mat-chip *ngIf="element.viewed && isAdmin && owner_id == element.user_id" (click)="openEditUpdateDialog(element);" style="background-color: white;">
									  	Update <mat-icon style="color: orange;">update</mat-icon>
									  </mat-chip>
									  <mat-chip *ngIf="element.viewed && isAdmin" (click)="openUpdateViewsDialog(element);" style="background-color: white;">
									  	Views <mat-icon>info </mat-icon>
									  </mat-chip>
									</mat-chip-list>
				          
				          <mat-divider></mat-divider>
			        	</div>
			        	<div class="row">
				          <span class="col-md-6"><b>User: </b>{{element.user__first_name}} {{element.user__last_name}}</span>
				          <span class="col-md-6"><b>Created at: </b>{{element.created_at | date : 'y-MM-dd h:mm a'}}</span>
				          <mat-divider></mat-divider>
			        	</div>
			        	<div class="row">
				          <mat-divider></mat-divider>
				          <span class="col-md-12">
				          	<b>Contents: </b>
				          	<br>
										<span style="
											/*text-align: left;*/
											font-size: 1.1em;
											color: #333333;
											overflow-x: auto;
					            white-space: pre-wrap;
					            white-space: -moz-pre-wrap;
					            white-space: -pre-wrap;
					            white-space: -o-pre-wrap;
					            word-wrap: break-word;">
					          {{element.contents}}</span>
		          		</span>
				        </div>
		        	</div>
			        <div *ngIf="attachments?.length != 0" class="col-md-12 mt-1">
			          <mat-divider></mat-divider>
								<span><b>Attachments: </b>{{ attachments?.length }}</span>
								<mat-list *ngFor="let item of attachments">
								 <mat-list-item>
								 	<span 
								 		class="filetype" 
								 		[ngClass]="{
									    'filetype-pdf':item.type == 'pdf',
									    'filetype-docx':item.type == 'word',
									    'filetype-xlsx':item.type == 'excel',
									    'filetype-pttx':item.type == 'powerpoint',
									    'filetype-picture':item.type == 'picture'
									  }">
									  {{ item?.file }}
									</span>
								 	<span style="flex: 1 1 auto;"></span>
									<mat-icon class="downloadFile" (click)="downloadAttachment(item?.fileurl);" style="cursor: pointer;float: right; background-color: grey; border-radius: 0.2em;">save_alt</mat-icon>
								 </mat-list-item>
								</mat-list>
			        </div>
		        </div>
		      </div>
		    </td>
		  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
	      class="element-row"
	      [class.expanded-row]="expandedElement === element"
	      [class.highlighted]="element.id === currentItem"
	      (click)="expandedElement = element; fetchAttachments(element);">
		  </tr>
		  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
		</table>
	  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

	</mat-card>
</div>